body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    transition: background-image 0.3s ease; /* Transição para a imagem */
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.35s;
}

button:hover {
    background-color: #777;
}

h1 {
    font-size: 300%;
    color: red;
}